* {
    font-family: "poppins";
}

body {
    background-color: #eaeaea;
}

table { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    top: 100px;
    border-radius: 5px;
    background-color: #E8F0F2;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

table.list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even), table.list thead > tr {
    background-color: #87CEFA;
}

input[type='text'], input[type='number'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='submit'] {
    width: 100%;
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

a{
    size: 30PX;     
    background-color: #f0ad4e;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a:hover {
    background-color: #5bc0de;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}

.btn-tambah {
    width: 85%;
    background-color: #428bca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-tambah:hover {
    background-color: #E8F6EF;

}